[project]
name=iot-package-manage-system
version=1.0.0.20160921_base

[flask]
pkg_path=/Users/admin/Project/iot_pkg/package
secret_key=ldolHUK$*21KHLioefd*&1io

[mysql]
host=111
port=3306
user=111
pwd=1111
db=iot_pkg
uri=mysql://%(user)s:%(pwd)s@%(host)s/%(db)s

[sqlite]
uri=sqlite:///Data/pkg.db