{% extends "base.html" %}

{% block page_header %}
<h3 class="page-header">IOT安装包更新系统> 概览</h3>
{% endblock %}

{% block table %}
<div>
	<p>1、本项目用于管理更新包，并提供下载接口</p>
	<p>2、更新包文件名有unique约束： unique(package_name)，建议使用(类型_版本.后缀)的命名方式</p>
	<p>3、更新包的类型和版本合在一起也有unique约束: unique(type, version)</p>
	<p>4、gitlab上下载本项目后请参照README.md进行调试</p>
	<p>5、使用前请参考<a href="http://jingyan.baidu.com/article/8cdccae9659f5c315413cde6.html" target="_blank">软件版本命名规范</a></p>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$("#indexBlock").addClass("active")
</script>
{% endblock %}
