{% extends "base.html" %}

{% block page_header %}
<h3 class="page-header">IOT安装包更新系统> 更新包管理</h3>
{% for msg in get_flashed_messages() %}
	<div class="alert alert-danger" role="alert">{{ msg }}</div>
{% endfor %}
{% endblock %}

{% block search_form %}
<div>
	<form class="form-inline search-form" role="form" method="get">
	  <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon">类型</div>
	      <select class="form-control" name="proj_id">
	      	<option value="">全部</option>
	      	{% for proj in proj_list %}
	      	<option value="{{ proj.id }}" {% if "%s" % proj.id == request.args.get("proj_id") %}selected="selected"{% endif %}>{{ proj.name }}</option>
	      	{% endfor %}
	      	<option></option>
	      </select>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon">版本号</div>
	      <input class="form-control" type="text" placeholder="请输入版本号" name="version" value="{{ request.args.version }}" />
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon">文件名</div>
	      <input class="form-control" type="text" placeholder="请输入版本号" name="name" value="{{ request.args.name }}" />
	    </div>
	  </div>
	  <input type="hidden" name="page" id="page" />
	  <button type="submit" class="btn btn-primary">搜索</button>
	  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pkgAddModal">增加</button>
	</form>
</div>
{% endblock %}

{% block table %}
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>编号</th>
	      <th>类型</th>
	      <th>版本</th>
	      <th>状态</th>
	      <th>强制更新</th>
	      <th>更新内容</th>
	      <th>下载地址</th>
	      <th>上传时间</th>
	      <th>更新时间</th>
	      <th>操作</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for package in pkg_list %}
	  	<tr>
	  		<td>{{ package.id }}</td>
	  		<td>{{ package.project.name }}</td>
	  		<td>{{ package.version }}</td>
	  		<td>{{ pkg_cls.PUBLIC_STATUS.get(package.public_status) }}</td>
	  		<td>{{ pkg_cls.UPDATE_LEVEL.get(package.update_level) }}</td>
	  		<td>{{ package.update_content }}</td>
	  		<td>{{ url_for("pkg_download", pkg_name=package.name, _external=True) }}</td>
	  		<td>{{ package.create_time }}</td>
	  		<td>{{ package.update_time }}</td>
	  		<td>
	  			<a href="#pkgUpdateModal" data-toggle="modal" data-id="{{ package.id }}">修改</a>
	  			{% if package.public_status == pkg_cls.public_off %}
	  			<a href="javascript:void(0)" data-id="{{ package.id }}" class="pkgPublicOn">发布</a>
	  			{% else %}
	  			<a href="javascript:void(0)" data-id="{{ package.id }}" class="pkgPublicOff">取消发布</a>
	  			{% endif %}
	  			<a href="javascript:void(0)" data-id="{{ package.id }}" class="pkgDelete">删除</a>
	  		</td>
	  	</tr>
	  	{% endfor %}
	  </tbody>
	</table>
	<div class="tcdPageCode"></div>
</div>
{% endblock %}

{% block modal %}
<!--增加package的modal-->
<div class="modal fade" id="pkgAddModal" tabindex="-1" role="dialog" aria-labelledby="pkgAddModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      	<form class="form-horizontal" role="form" id="pkgAddForm" action="{{ url_for('pkg_add') }}" method="post" enctype="multipart/form-data">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="pkgAddModalLabel">添加更新包</h4>
	      </div>
	      <div class="modal-body">
			  <div class="form-group">
			    <label for="pkgAddVersion" class="col-sm-2 control-label">版本号</label>
			    <div class="col-sm-8">
			      <input type="text" name="version" class="form-control" id="pkgAddVersion" placeholder="版本号" required="required" />
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="pkgAddFile" class="col-sm-2 control-label">文件</label>
			    <div class="col-sm-8">
			    	<input type="file" name="pkg_file" id="pkgAddFile" required="required">
			    </div>
			  </div>
			  <div class="form-group">
				<label for="pkgAddProject" class="col-sm-2 control-label">类型</label>
				<div class="col-sm-8">
					<select name="proj_id" id="pkgAddProject" class="form-control" required="required">
						{% for proj in proj_list %}
						<option value="{{ proj.id }}">{{ proj.name }}</option>
						{% endfor %}
					</select>
				</div>
			  </div>
			  <div class="form-group">
				<label for="pkgAddUpdateLevel" class="col-sm-2 control-label">强制更新</label>
				<div class="col-sm-8">
					<select name="update_level" class="form-control" required="required">
						{% for k, v in pkg_cls.UPDATE_LEVEL.items() %}
						<option value="{{ k }}">{{ v }}</option>
						{% endfor %}
					</select>
				</div>
			  </div>
			  <div class="form-group">
				<label for="pkgAddUpateCotent" class="col-sm-2 control-label">更新内容</label>
				<div class="col-sm-8">
					<textarea name="update_content" class="form-control" id="pkgAddUpateCotent" placeholder="更新内容" required="required"></textarea>
				</div>
			  </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <button type="submit" class="btn btn-primary">添加</button>
	      </div>
		</form>
    </div>
  </div>
</div>

<!--修改package的modal-->
<div class="modal fade" id="pkgUpdateModal" tabindex="-1" role="dialog" aria-labelledby="pkgUpdateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      	<form class="form-horizontal" role="form" id="pkgUpdateForm" action="{{ url_for('pkg_add') }}" method="post" enctype="multipart/form-data">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="pkgUpdateModalLabel">修改更新包</h4>
	      </div>
	      <div class="modal-body">
			  <div class="form-group">
			    <label for="pkgUpdateVersion" class="col-sm-2 control-label">版本号</label>
			    <div class="col-sm-8">
			      <input type="text" name="version" class="form-control" id="pkgUpdateVersion" placeholder="版本号" required="required" />
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="pkgUpdateFile" class="col-sm-2 control-label">文件</label>
			    <div class="col-sm-8">
			    	<input type="file" name="pkg_file" id="pkgUpdateFile">
			    </div>
			  </div>
			  <div class="form-group">
				<label for="pkgUpdateProject" class="col-sm-2 control-label">类型</label>
				<div class="col-sm-8">
					<select name="proj_id" id="pkgUpdateProject" class="form-control" required="required">
						{% for proj in proj_list %}
						<option value="{{ proj.id }}">{{ proj.name }}</option>
						{% endfor %}
					</select>
				</div>
			  </div>
			  <div class="form-group">
				<label for="pkgUpdateUpdateLevel" class="col-sm-2 control-label">强制更新</label>
				<div class="col-sm-8">
					<select name="update_level" class="form-control" id="pkgUpdateUpdateLevel" required="required">
						{% for k, v in pkg_cls.UPDATE_LEVEL.items() %}
						<option value="{{ k }}">{{ v }}</option>
						{% endfor %}
					</select>
				</div>
			  </div>
			  <div class="form-group">
				<label for="pkgUpdateUpateCotent" class="col-sm-2 control-label">更新内容</label>
				<div class="col-sm-8">
					<textarea name="update_content" class="form-control" id="pkgUpdateUpateCotent" placeholder="更新内容" required="required"></textarea>
				</div>
			  </div>
			  <input type="hidden" name="pkg_id" id="pkgId"/>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <button type="submit" class="btn btn-primary">修改</button>
	      </div>
		</form>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(".tcdPageCode").createPage({
		pageCount: {{ page_count }},
		current: {{ page }},
		backFn: function(page){
			console.log(page);
			$("#page").val(page);
			$(".search-form").submit();
		}
	});
	$("#pkgBlock").addClass("active");
	//修改
	$("#pkgUpdateModal").on("show.bs.modal", function(e){
		$.ajax({
			url: "{{ url_for('pkg_info') }}",
			dataType: "json",
			data: {pkg_id: $(e.relatedTarget).data("id")},
			success: function(data){
				//渲染数据
				$("#pkgUpdateVersion").val(data.version);
				$("#pkgUpdateProject").val(data.proj_id);
				$("#pkgUpdateUpdateLevel").val(data.update_level);
				$("#pkgUpdateUpateCotent").val(data.update_content);
				$("#pkgId").val(data.id);
			},
			error: function(xhr){
				console.log(xhr);
				$("#pkgUpdateModal").modal("hide");
			}
		});

	});
	// 删除更新包
	$(".pkgDelete").on("click", function(){
		if(confirm("删除之后无法恢复，确定要删除该记录吗？")){
			var url = "{{ url_for('pkg_delete') }}" + "?pkg_id=" + $(this).data("id");
			window.location.href = url;
		}else{
			return false;
		}
	});
	// 发布
	$(".pkgPublicOn").on("click", function(){
		if(confirm("确定发布吗？")){
			var url = "{{ url_for('pkg_public') }}" + "?pkg_id=" + $(this).data("id") + "&public_status=" + "{{ pkg_cls.public_on }}";
			window.location.href = url;
		}else{
			return false;
		}
	});
	// 取消发布
	$(".pkgPublicOff").on("click", function(){
		if(confirm("确定取消发布吗？")){
			var url = "{{ url_for('pkg_public') }}" + "?pkg_id=" + $(this).data("id") + "&public_status=" + "{{ pkg_cls.public_off }}";
			window.location.href = url;
		}else{
			return false;
		}
	});
</script>
{% endblock %}