{% extends "base.html" %}

{% block page_header %}
<h3 class="page-header">IOT安装包更新系统> 更新包类型</h3>
{% for msg in get_flashed_messages() %}
	<div class="alert alert-danger" role="alert">{{ msg }}</div>
{% endfor %}
{% endblock %}

{% block search_form %}
<div>
	<form class="form-inline search-form" role="form" method="get">
	  <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon">名称</div>
	      <input class="form-control" type="text" placeholder="请输入名称" name="name" value="{{ request.args.name }}" />
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon">编号</div>
	      <input class="form-control" type="text" placeholder="请输入编号" name="proj_id" value="{{ request.args.proj_id }}" />
	    </div>
	  </div>
	  <input type="hidden" name="page" id="page" />
	  <button type="submit" class="btn btn-primary">搜索</button>
	  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projAddModal">增加</button>
	</form>
</div>
{% endblock %}

{% block table %}
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>编号</th>
	      <th>名称</th>
	      <th>最新版本信息地址</th>
	      <th>最新版本下载地址</th>
	      <th>操作</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for project in proj_list %}
	  	<tr>
	  		<td>{{ project.id }}</td>
	  		<td>{{ project.name }}</td>
	  		<td>{{ url_for("proj_latest_msg", proj_name=project.name, _external=True) }}</td>
	  		<td>{{ url_for("proj_latest_download", proj_name=project.name, _external=True) }}</td>
	  		<td>
	  			<a href="#projUpdateModal" data-toggle="modal" data-id="{{ project.id }}" data-name="{{ project.name }}">修改</a>
	  			<a href="javascript:void(0)" class="projDelete" data-id="{{ project.id }}">删除</a>
	  		</td>
	  	</tr>
	  	{% endfor %}
	  </tbody>
	</table>
	<div class="tcdPageCode"></div>
</div>
{% endblock %}

{% block modal %}
<div class="modal fade" id="projAddModal" tabindex="-1" role="dialog" aria-labelledby="projAddModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<form class="form-horizontal" role="form" id="projAddForm" action="{{ url_for('proj_add') }}" method="post">
	    	<div class="modal-header">
	    		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        	<h4 class="modal-title" id="projAddModalLabel">添加更新类型</h4>
	    	</div>
	    	<div class="modal-body">
	    		<div class="form-group">
	    			<label for="projAddName" class="col-sm-3 control-label">名称：</label>
	    			<div class="col-sm-7">
	    				<input name="proj_name" id="projAddName" placeholder="名称" class="form-control" required="required" />
	    			</div>
	    		</div>
	    	</div>
	    	<div class="modal-footer">
	    		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        	<button type="submit" class="btn btn-primary">添加</button>
	    	</div>
	    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="projUpdateModal" tabindex="-1" role="dialog" aria-labelledby="projUpdateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<form class="form-horizontal" role="form" id="projUpdateForm" action="{{ url_for('proj_add') }}" method="post">
	    	<div class="modal-header">
	    		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        	<h4 class="modal-title" id="projUpdateModalLabel">修改更新类型</h4>
	    	</div>
	    	<div class="modal-body">
	    		<div class="form-group">
	    			<label for="projUpdateName" class="col-sm-3 control-label">名称：</label>
	    			<div class="col-sm-7">
	    				<input name="proj_name" class="form-control" id="projUpdateName" placeholder="名称" required="required" />
	    			</div>
	    		</div>
	    		<input type="hidden" name="proj_id" id="proj_id" />
	    	</div>
	    	<div class="modal-footer">
	    		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        	<button type="submit" class="btn btn-primary">修改</button>
	    	</div>
	    </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	// 数据分页
	$(".tcdPageCode").createPage({
		pageCount: {{ page_count }},
		current: {{ page }},
		backFn: function(page){
			console.log(page);
			$("#page").val(page);
			$(".search-form").submit();
		}
	});
	$("#projBlock").addClass("active");
	// 修改更新类型
	$("#projUpdateModal").on("show.bs.modal", function(e){
		var target = $(e.relatedTarget);
		$("#projUpdateName").val(target.data("name"));
		$("#proj_id").val(target.data("id"));
	});
	// 删除更新类型
	$(".projDelete").on("click", function(){
		if(confirm("确定要删除吗？")){
			var url = "{{ url_for('proj_delete') }}" + "?proj_id=" + $(this).data("id");
			window.location.href = url;
		}else{
			return;
		}
	});
</script>
{% endblock %}